.container{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 74px;
    align-items: center;
    background-color: var(--color-primary);
    padding: 20px 32px;
}
.logo{
    width: 67px;
    height: 34px;
}
.form{
    display: flex;
    align-items: center;
    height: 48px;
}

.text{
width: 502px;
height: 100%;
border-radius: 8px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
padding:1px solid var(--color-black);
padding: 14px 20px;
}


.icon{
height: 100%;
cursor: pointer;
border-radius: 0 8px 8px 0;
padding:1px solid var(--color-black);
padding: 14px 20px;
border-left: none;
}



.button{
    background-color: var(--color-black);
    color: var(--color-primary);
    border-radius: 12px;
    padding: 10px 16px;
    cursor: pointer;
}