.container{
    display: flex;
    justify-content: space-between;
    width: 1320px;
    height: 74px;
    background-color: var(--color-primary);
}
.logo{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    width: 67px;
    height: 34px;
    /* top: 20px;
    left: 32px; */
}
.form{
    display: flex;
    align-items: center;
}

.text{
width: 502px;
height: 60%;
border-radius: 8px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
padding:1px solid var(--color-black);
padding: 14px 20px;
}


.icon{
height: 60%;
cursor: pointer;
border-radius: 0 8px 8px 0;
padding:1px solid var(--color-black);
padding: 14px 20px;
border-left: none;
}



.button{
    background-color: var(--color-black);
    color: var(--color-primary);
    border-radius: 12px;
    padding: 10px 16px;
    cursor: pointer;
    height: 60%;
    margin: 15px;
}